.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.gitignore
.idea
.metadata
.vscode

build
assets

#ignore android except android/app/src/main/AndroidManifest.xml
android/*
!android/app
android/app/*
!android/app/src
android/app/src/*
!android/app/src/main
android/app/src/main/*
!android/app/src/main/AndroidManifest.xml


ios
linux
macos
web
windows
README.md
pubspec.lock